# 方便配置自己的私服后修改
registry="https://registry.npmmirror.com/"
chromedriver_cdnurl="https://npmmirror.com/mirrors/chromedriver"
fse_binary_host_mirror="https://npmmirror.com/mirrors/fsevents/"
operadriver_cdnurl="https://npmmirror.com/mirrors/operadriver"
phantomjs_cdnurl="https://npmmirror.com/mirrors/phantomjs/"
# 建议Dart Sass
sass_binary_site="https://npmmirror.com/mirrors/node-sass/"
puppeteer_download_host="https://npmmirror.com/mirrors"
