# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  # workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # 彩蛋step
      - name: 为项目pr，issues人员进行致意
        uses: actions/first-interaction@v1.1.0
        with:
          # Token for the repository. Can be passed in using {{ secrets.GITHUB_TOKEN }}
          repo-token: 
          # Comment to post on an individual's first issue
            ${{ secrets.TESTTOKEN }}
          issue-message: # optional
          # Comment to post on an individual's first pull request
            'think for u issues'
          pr-message: # optional
            'think for u pr'

      # 设定node环境，替换系统默认的node
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.4.0
        with: 
          node-version: '14'
          cache: 'npm'
      - run: |
          npm ci
          npm run genlog
          npm run lint
          npm run build

      # 自动发布GitHubpage
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with: 
          CLEAN: true
          BRANCH: gh-pages
          FOLDER: dist/

     
